#bottom{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom:0px;
	display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid gainsboro;
    background-color: white;
}
#bottom a{
	height: 40px; 
	width: 30px;
   /* margin: 5px;*/    
    /*border: 1px solid red;*/ 
    position: relative;
}
#bottom1 div{
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	right: -2px;
	top: -2px;
	border: 1px solid red;
	background-color: red;
}
#bottom3 div{
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	right: -2px;
	top: -2px;
	border: 1px solid red;
	background-color: red;
}